@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;900&display=swap");

html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.ui-button {
    background: rgba(89, 0, 255, 0.8);
    color: white;
    border: none;
    font-family: "Recursive";
    font-weight: 400;
    font-size: 24pt;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 5px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.8);
    transition: 0.05s;
    user-select: none;

    &:hover {
        background: rgba(107, 27, 255, 0.8);
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.8);
        transform: translateY(-3px);
        cursor: pointer;
    }

    &:active {
        background: rgba(72, 0, 206, 0.8);
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.8);
        transform: translateY(2px);
    }
}

.ui-input {
    border: none;
    border-radius: 30px;
    font-family: "Recursive";
    font-weight: 400;
    font-size: 24pt;
    padding: 10px 30px;
    margin: 10px 5px;
    outline: none;
    width: 300px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.4);

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

.ui-h1 {
    font-family: "Recursive";
    font-weight: 900;
    font-size: 60pt;
    align-self: center;
    color: white;
    margin: 20px 0;
    user-select: none;
}

.ui-h3 {
    font-family: "Recursive";
    align-self: center;
    font-weight: 400;
    font-size: 24pt;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
    user-select: none;
}

.ui-vbox-fill {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ui-hbox-fill {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ui-panel {
    border: 5px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 10px;
}

.ui-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ui-margin {
    margin: 10px;
}

.ui-vsep {
    background: rgba(0, 0, 0, 0.4);
    width: 5px;
    margin: 5px 10px;
    border-radius: 5px;
}

.ui-hsep {
    background: rgba(0, 0, 0, 0.4);
    height: 5px;
    margin: 10px 5px;
    border-radius: 5px;
}
